*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

html{
  overflow-x: hidden;
}

:root{
  --primary-bg:#ffffff;
  --secondary-bg:#f5f5f5;
  --tertiary-bg:#e5e7eb;
  --primary-text:#000000;
  --border-color:#d1d5db;
}

:root.dark{
  --primary-bg:#09090B;
  --secondary-bg:#141319;
  --tertiary-bg:#17171C;
  --primary-text:#ffffff;
  --border-color:#1f2937;
}

/* :root{
  --primary-color:#fff;
  --secondary-color:#000;
  --accent-color:#ff0080;
  --background-color:#000;
  --text-color:#fff;
  --border-radius:10px;
  --transition:all 0.3s ease-in-out;
} */


.sp-text{
  background: conic-gradient(at top,#c084fc,#a855f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.icon{
  padding: 15px;
  font-size: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  cursor: pointer;
}